.question {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #6a1818;
    margin: auto;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    
  }
  
  .question:hover {
    background-color: #965959;
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #44546b;
    color: #fff;
    font-size: 1.2rem;
  }
  
  .text {
    flex: 1;
    font-size: 1.1rem;
  }
  
  .answer {
    background-color: #a76565;
    margin: auto;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    color: white;
  }
.faq-title{
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  margin: auto;
  width: 40%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;

}
h3{
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  margin: auto;
  width: 40%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: all;

  

}
