.question {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #6a1818;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
  }
  
  .question:hover {
    background-color: #965959;
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #44546b;
    color: #fff;
    font-size: 1.2rem;
  }
  
  .text {
    flex: 1;
    font-size: 1.1rem;
  }
  
  .answer {
    padding: 10px;
    border-radius: 5px;
    background-color: #7f4b4b;
    margin-top: 10px;
  }