.imageGallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.imageGallery .image-gallery-slide {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 0 10px;
}
.image-info {
  position: relative;
  background-color: rgb(50, 47, 47);
  background-position: left;
  opacity: 0.5;
  padding: 5px;
  margin-right: 50%;
}
.featuredTours{
  margin-top: 20px;
  background-color:rgb(8, 49, 49);
  
  
}